* {
    margin: 0px;
    box-sizing: border-box;
    background-image: "C:\Users\18016\Documents\school\Intro to Scripting Web\Git-Practice\pictures\hyperdrive-bc41349b-88e5-4b20-a140-3ef96bf7d7d-resize-750.jpeg";
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

figcaption {
    background-color: aqua;
    text-align: center;
}