* {
    margin: (20px, 0px, 20px, 0px);
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
}

.main_title {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

figcaption {
    background-color:grey;
    text-align: center;
}